# .NET build output
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core secrets/logs
appsettings.*.local.json
*.log

# System files
.DS_Store
Thumbs.db
desktop.ini

# Editor
*.swp
*.swo
