<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container">
    <span class="navbar-brand mb-0 h1">ABC Pharmacy</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicines" routerLinkActive="active">Medicines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sales" routerLinkActive="active">Sales History</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container pb-5">
  <router-outlet />
</main>
